body{
	background-color: lightblue;
	background-image: url("FlatEarthPic.jpg");
	
}

p{
	color: purple;
}
img{
	border: 25px solid red;
	margin: 50px;
}

figcaption {
	 margin-left: 90px;
	 margin-top: 0em;
}